{% extends 'base.html' %}

{% block content %}
<section class="about-ACCSS">
    <div id="aboutdiv" class="container">
        <div class="row">
            <div class="col-12 text-center">
                
            </div>

            <div class="col-md-3">
                <img class ="img-fluid" src="https://i.imgur.com/iD4HsyK.png" alt="">
            </div>
            <div class="col-9" style="text-align:justify">
                <h2> ACCSS: Ateneo Cirle of Computer Studies Students </h2>	
                <br>
                <p id="para">
                    ACCSS is the only academic club of the Computer Studies cluster at Ateneo de Davao University. 
                    Being the only club of Computer Studies for the CS, IT, and IS students, ACCSS and its members 
                    are assuring that all students from 1st year to 4th year will have a better and enjoyable years 
                    by means of giving them activities that molds them to academic excellence, social awareness and 
                    spiritual growth.
                </p>
            </div>
        </div id="team_button">
        <a href="#team" id="tb" class="btn btn-lg" role="button" aria-pressed="true">
            View Officers
            <svg class="bi bi-arrow-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.646 9.646a.5.5 0 01.708 0L8 12.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M8 2.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V3a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
            </svg>
        </a>
        
    </div>
        </div>
    </div>
    
</section>


<section id="team" class="pt-3 pb-4">
    <div class="container"><br><br><br>
        <div class="row mt-4">
            <div class="col text-center">
                <h1>Our Team</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>	
            <div class="col-md-4 text-center">
                <img class="img-fluid qualities-img p-5" src="https://cdn4.iconfinder.com/data/icons/political-elections/50/48-512.png">
                <h3>ACCSS Moderator</h3>
                <p> <i> Adrian Ablazo</i> </p>
            </div>
            <div class="col-4"></div>
        </div>


        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-fluid qualities-img p-5" src="https://lh3.google.com/u/1/d/1AlPuVK6yJXnQf5z6jKgIMRQNPMDyAcUZ=w1113-h789-iv1">
                <h5>ACCSS President</h5>
                <p> <i> Alvinsion Sevilla</i> </p>
            </div>

            <div class="col-md-4 text-center">
                <img class="img-fluid qualities-img p-5" src="https://lh3.google.com/u/1/d/1-P5B5R6tPEx_xn2ZpnhrUNlZ_oqMNbpi=w1600-h789-iv1">
                <h5>ACCSS External Vice President</h5>
                <p> <i> Marco Dabon</i> </p>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-fluid qualities-img p-5" src="https://lh3.google.com/u/1/d/1epSE4ASQtF3L62TLbCUFG3dycJSa9fNO=w1113-h789-iv1">
                <h5>ACCSS Internal Vice President</h5>
                <p> <i> Junrick Bation</i> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-fluid qualities-img p-5" src="https://lh3.google.com/u/1/d/1gApWHUlR0w5yfJGlbSy1R7yGVAtPziE6=w1113-h789-iv1">
                <h5>ACCSS Secretary General </h5>
                <p> <i>Portia Risane</i> </p>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-fluid qualities-img p-5" src="https://lh3.google.com/u/1/d/12grryJXZhqn759T56ns98SJK-FaZZmV5=w1113-h789-iv1">
                <h5>ACCSS Treasurer </h5>
                <p> <i> Joselle Lomuljo</i> </p>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-fluid qualities-img p-5" src="https://lh3.google.com/u/1/d/1ZIFHCIkJ0HI13c3o2IU89mNsQJ6UAVrH=w1600-h789-iv1">
                <h5>ACCSS Auditor</h5>
                <p> <i> Joeferson Go</i> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-fluid qualities-img p-5" src="https://lh3.google.com/u/1/d/12Q0ZJi-QDcwcswSEfNDzxhzadnNko_jl=w1113-h789-iv1">
                <h5>ACCSS Public Relations Officer </h5>
                <p> <i>KobzTV Managbanag</i> </p>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-fluid qualities-img p-5" src="https://lh3.google.com/u/1/d/1NdLGUPTd_VDwvYEKVqbeLkHAEnYXoe6w=w1113-h789-iv1">
                <h5>ACCSS Creatives Head </h5>
                <p> <i> Matthew Labuguen</i> </p>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-fluid qualities-img p-5" src="https://lh3.google.com/u/1/d/10zhS40oRK1UzWwh4fj2cqIxPwNP2bRqP=w1113-h789-iv1">
                <h5>ACCSS Programming Head</h5>
                <p> <i> Mike Espera</i> </p>
            </div>
        </div>
</section>
<script>
    var elem = document.getElementById("header");

    document.getElementById("home").setAttribute("class", "deactive");
    document.getElementById("ab").setAttribute("class", "active");
    document.getElementById("tit").innerHTML = "ACCSS | About";

    elem.style.background = "linear-gradient(45deg, #b030b0 0%, #602080 60%)";
</script>
{% endblock %}